[Desktop Entry]
Name=BUI
Comment=FRC Robot Path Planning Tool
Exec=bui
Icon=bui
Type=Application
Categories=Development;Engineering;Robotics;
Terminal=false
StartupWMClass=bui
